version: "3"
services:
  api-gateway-container:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    image: toandeptroai/api-gateway:0.1.0
    ports:
      - 8443:8443
    environment:
      - SPRING_PROFILES_ACTIVE=dev
