spring:
  application:
    name: course-service
  datasource:
    url: jdbc:postgresql://localhost:5432/techhub_courses
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

server:
  port: 8082
  servlet:
    context-path: /api

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    com.techhub.app.courseservice: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO

