server:
  port: 8086

spring:
  application:
    name: file-service
  datasource:
    url: jdbc:postgresql://localhost:5432/techhub
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:dfghle9yg}
  api-key: ${CLOUDINARY_API_KEY:826669928256623}
  api-secret: ${CLOUDINARY_API_SECRET:dHhG1xQSQgAxrbb-Zio2CsQ55bs}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.techhub.app.fileservice: DEBUG
