server:
  port: 0

spring:
  application:
    name: USER-SERVICE-TEST
  datasource:
    url: jdbc:h2:mem:userservice;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
  mail:
    host: localhost
    port: 1025
    username: test
    password: test

logging:
  level:
    org:
      springframework: WARN
      hibernate: WARN

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
