name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - dev/*

env:
  DOCKER_USER: tuyentvwork
  IMAGE_VERSION: 0.1.0

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # build + push tá»«ng service
      - name: Build & Push Service Discovery
        run: |
          docker build -t $DOCKER_USER/service-discovery:$IMAGE_VERSION ./service-discovery
          docker push $DOCKER_USER/service-discovery:$IMAGE_VERSION

      - name: Build & Push API Gateway
        run: |
          docker build -t $DOCKER_USER/api-gateway:$IMAGE_VERSION ./api-gateway
          docker push $DOCKER_USER/api-gateway:$IMAGE_VERSION

      - name: Build & Push Proxy Client
        run: |
          docker build -t $DOCKER_USER/proxy-client:$IMAGE_VERSION ./proxy-client
          docker push $DOCKER_USER/proxy-client:$IMAGE_VERSION

      - name: Build & Push Blog Service
        run: |
          docker build -t $DOCKER_USER/blog-service:$IMAGE_VERSION ./blog-service
          docker push $DOCKER_USER/blog-service:$IMAGE_VERSION

      - name: Build & Push Course Service
        run: |
          docker build -t $DOCKER_USER/course-service:$IMAGE_VERSION ./course-service
          docker push $DOCKER_USER/course-service:$IMAGE_VERSION

      - name: Build & Push Learning Path Service
        run: |
          docker build -t $DOCKER_USER/learning-path-service:$IMAGE_VERSION ./learning-path-service
          docker push $DOCKER_USER/learning-path-service:$IMAGE_VERSION

      - name: Build & Push Payment Service
        run: |
          docker build -t $DOCKER_USER/payment-service:$IMAGE_VERSION ./payment-service
          docker push $DOCKER_USER/payment-service:$IMAGE_VERSION
